/*GENERICS*/

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

/*HEADER*/

.header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.container{
    height: 100px;
    width: 80%;
    margin: auto;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.central-section{
    flex-grow: 2;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
      
}

.button{
  padding: 10px;
  font-size: 15px;
  border-radius: 25px;
}

.container2{
   width: 100%;
   height: 600px;
   display: flex;
}  

.header-container2{
    width: 50%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.central-text{
    color: white;
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
}

.paragraph{
    color: white;
    font-size: 20px;
    text-align: center; 
    line-height: 35px; 
}

.download{
  margin-top: 80px; 
  margin-left: 120px;
  padding: 15px;
  border-radius: 25px;
  font-size: 18px;
}

.open{
    color: white;
    background-color: rgb(38, 38, 38);
    margin-left: 40px;
}

/*FINE HEADER*/



.main-section1{
    height: 500px;
    width: 50%;
    background-image: url(../img/item1.svg);
    background-size: cover;
    margin-left: auto;
    align-self: center;
    
}

.main-section2{
    height: 500px;
    width:30%;
    margin-right: auto;
    align-self: center;
}
/*testo main-section2*/

.initial-main-text{
   text-align: center;
   line-height: 40px;
   font-size: 35px;
   margin-top: 30px;
}

.central-paragraph{
    text-align: center;
    margin-top: 80px; 
}

/*fine prima main-section2*/



.main-section3{
    height: 500px;
    width:30%;
    background-color: pink;
    border: 1px dashed black;
    margin-left: auto;
    align-self: center;
}

.central-h2{
    margin-top: 15px;
    font-size: 30px;
}

.main-section4{
    height: 500px;
    width: 40%;
    background-image: url(../img/item2.svg);
    background-size: cover;
    margin: auto;
    align-self: center;   
}

.main-section5{
    height: 500px;
    width:40%;
    background-color: aqua;
    border: 1px dashed black;
    margin-left: auto;
    align-self: center;  
}

.main-section6{
    height: 500px;
    width:30%;
    background-color: pink;
    border: 1px dashed black;
    margin-right: auto;
    align-self: center;
}

.container3{
    width: 100%;
    height: 1000px;
    background-color: rgb(205, 203, 203);
    display: flex;  
}

.main-section7{
    width: 70%;
    height: 800px;
    background-color: green;
    border: 1px dashed black;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.debug{
    border: 1px dashed black;
}

footer{
    width: 100%;
    background-color: rgb(45, 44, 44);
}

.container4{
    width: 70%;
    height: 900px;
    margin: 0 auto;
    display:flex;
}

.footer-section1{
    height: 650px;
    flex-grow: 2;
    background-color: palevioletred;
    margin-left: auto;
    margin-top: 10px;
}

.footer-section2{
    height: 650px;
    flex-grow: 1;
    background-color: aqua;
    margin-left: auto;
    margin-top: 10px;
}

.separation{
    width: 100%;
    border:2px solid antiquewhite;
    margin-bottom: 70px;
}

.container5{
    width: 100%;
    height: 100px;
    background-color: rgb(45, 44, 44);
    display: flex;
}

.footer-section3{
    width: 70%;
    height: 50px;
    background-color: aquamarine;
    margin-left: auto;
    margin-right: auto;
    align-self: flex-end;
    justify-content: space-between;
}

.final-bar{
    display: flex;
}

.un-section{
    align-self: center;
    background-color: pink;
}








 


  
